# Usage dependencies
###############################################################################
sinesp_client==1.14

# Testing dependencies
###############################################################################
pytest==4.5.0           # https://pypi.org/project/pytest/
flake8==3.7.7           # https://pypi.org/project/flake8/